.holder {
  display: flex;
 
  gap: 40px;

  height: 100vh;        /* real height */
  overflow-y: auto;     /* vertical scroll */
  overflow-x: hidden;

  padding: 24px;
  box-sizing: border-box;
    scrollbar-width: none;

}
